.card {
    background-color: #b2d4f7; /* Light gray background color */
    border: 1px solid #dee2e6; /* Light gray border */
    margin: 10px;
    padding: 10px;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 5px;
  }