body {
  background-color: rgb(59, 90, 117);
  color: rgb(0, 0, 0);
  background-image: url(public/pexels-luis-ruiz-1292843.jpg);
  font-family: oswald;
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.header-text {
  font-size: 140px; 
  text-align: center;
  text-transform: uppercase;
  font-family: oswald;
  color: #000000;
  text-shadow: 3px 1px rgb(4, 24, 28);
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: rgb(59, 90, 117) 4px 3px 1px 0px inset, rgb(8, 2, 33) -5px 6px 6px 1px inset;
  background: linear-gradient(0deg, rgb(1, 183, 219) 0%, rgb(8, 2, 33) 100%);
  border-radius: 8px;
}

.header-sub {
  font-size: 50px; 
  text-align: center;
  color: #ffffff;
  text-shadow: 1px .5px 1px rgb(60, 108, 147);
  font-family: oswald;
  font-weight: 200;
  font-style: italic;
  word-spacing: 30px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.results-text,
.weather-results,
.movie-results {
  font-size: 70px; 
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
  color: #c7c7cb;
  text-shadow: 2px .5px 1px rgb(21, 38, 52);
  font-family: oswald;
  font-weight: 300;
}

.search-button {
  font-size: 50px; 
  border-radius: 24px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: transparent;
  box-shadow: 1px 2px 2px #1e1e1f;
  transition: all .3s ease;
}

.search-input {
  font-size: 30px; 
  padding: 10px;
  width: 400px;
  margin-right: 10px;
  color: #0f224b;
  border-radius: 24px;
  border: 5px solid #78797b;
  box-shadow: rgb(59, 90, 117) 1px 1px 2px 3px inset;
  line-height: 1.45;
  padding: 0.6em 1.45em 0.7em;
}

